.active{
  background-color: pink;
}
a{
  display: inline-block;
  width: 120px;
  line-height: 40px;
  background-color: #bbb;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}
